.navbar {
    background: linear-gradient(
        to bottom,
        var(--primary-dark),
        var(--primary-medium)
    );
    width: 250px;
    min-height: 100vh;
    color: white;
    padding: 0;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.menuItem {
    color: var(--menu-text-color) !important;
    padding: 0.5rem;
    transition: color 0.3s ease;
}

.menuItem:hover {
    color: var(--menu-hover-color) !important;
}

.menuIcon {
    margin-right: 0.5rem;
    color: inherit;
}

.menuCloseSession {
    color: var(--other-warning) !important;
    padding: 0.5rem;
    transition: color 0.3 ease;
}

.menuCloseSession:hover {
    color: var(--other-hover-warning) !important;
}

.menuCloseSessionIcon {
    margin-right: 0.5rem;
    color: inherit;
}

.navbarToggle {
    display: none;
    margin: 10px;
}

.offcanvas {
    width: 250px !important;
}

.offcanvasTitle {
    color: var(--menu-text-color) !important;
}

@media (max-width: 992px) {
    .navbar {
        width: 100%;
        min-height: auto;
        flex-direction: row !important;
    }

    .navbarToggle {
        display: block;
    }

    .offcanvas {
        background: linear-gradient(
            to bottom,
            var(--primary-dark),
            var(--primary-medium)
        );
        color: white;
    }
}
