:root {
    --primary-color: #1e88e5;
    --secondary-color: #64b5f6;
    --dark-color: #343a40;
    --light-color: #f8f9fa;
}

body {
    margin: 0;
    font-family:
        -apple-system, BlinkMacSystemFont, 'Segoe UI',
        'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
        'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family:
        source-code-pro, Menlo, Monaco, Consolas,
        'Courier New', monospace;
}

/* Estilos para el spinner */
.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para el fondo con marca de agua */
.watermark-bg {
    background-image: url('/logo.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-attachment: fixed;
    opacity: 0.1;
    position: relative;
}

.watermark-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: -1;
}
